body
{
  font-family:'Roboto';
  width:240px;
  margin:30px auto 0;
  display:block;
  background:#F1F1F1;
  padding:10px 50px 50px;
}
h2 		 {
  margin-bottom:10px;
}
h2 small {
  font-weight:normal;
  color:#888;
  display:block;
}
h1 		 {
  margin-bottom:10px;
}
h1 small {
  font-weight:normal;
  color:#888;
  display:block;
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }
.center {
  postion: center;
}

.group {
    padding-bottom: 10px;
}

.paper-button-color {
  padding:8px 16px;
  font-family: 'roboto';
  text-align: center;
  font-weight:500;
  width: 200px;
  border:none;
  background-color:#2196F3;
  color:white;
  border-radius:2px;
  box-shadow:0 1px 2px rgba(0,0,0,0.25);
  cursor:pointer;
  transition: box-shadow 0.1s ease;
  display:inline-block
}

.paper-button {
  padding:8px 16px;
  font-family: 'roboto';
  font-weight:500;
  border:none;
  background-color:#2196F3;
  color:white;
  border-radius:2px;
  box-shadow:0 1px 2px rgba(0,0,0,0.25);
  cursor:pointer;
  transition: box-shadow 0.1s ease;
}

.paper-button:active {
  box-shadow:0 3px 7px rgba(0,0,0,0.25);
}
.opened + .color-picker {
  transform:scale(1, 1) translate(0,0);
}

.translate {
  transform:translate(0);
  position:absolute;
  z-index:99;
  left:155px;
  top:36px;
}

/*
Material Design Ripple styling
https://codepen.io/Craigtut/pen/dIfzv
*/

.material{
  position:relative;
  color:white;
  margin: 20px auto;
  height:400px;
  width:500px;
  background:#f45673;

}

.ripple{
  overflow:hidden;
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;


  animation: ripple-animation 2s;
}


@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}

#inp{
  visibility:hidden;
}

#test_wrapper{
  background-color:black;
  height:32px;
  width:32px;
  position:fixed;
}
